// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  //background: linear-gradient(to right, #0062E6, #33AEFF);
  #app {
    height:100vh !important
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) !important;
}